/*-- scss:defaults --*/
$fontsize: 0.9rem;

/*-- scss:rules --*/
div.quarto-post {
  gap: 0.5em;
}

div.quarto-post .metadata {
  flex-basis: 25%;
}

div.quarto-post .body {
  flex-basis: 55%;
}

.logo-v {
  color: #0ac164;
  font-weight: bold;
}

.logo-line {
  display: block;
  background: #2bbc9d;
  width: 100%;
  height: 4px;
  margin: auto;
  display: table;
  margin-top: -6px;
  margin-bottom: -6px;
}